<section class="nav-section">
  <div class="nav-div">
    <label for="language-checkbox" class="language-switch">
      <input type="checkbox" id="language-checkbox" role="switch" aria-label="Sprache wechseln" />

      <span class="language-option en">EN</span>
      <span class="language-option de">DE</span>
      <span class="switch-background" aria-hidden="true"></span>
    </label>

    <a href="#">About me</a>
    <a href="#">Skills</a>
    <a href="#">Projects</a>
  </div>
  <div div>
    <img src="" alt="" />
  </div>
</section>
