@use "../../../styles/variables" as *;

.nav-section {
  width: 100%;
  max-width: 1440px;
  height: 98px;
  margin: 0 auto;
  padding: 24px 96px;
  font-family: "Fira Code", monospace;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-div {
  display: flex;
  align-items: center;
  gap: 24px;

  a {
    position: relative;
    color: white;
    font-size: 1.25rem;
    font-family: "Fira Code", monospace;
    font-weight: 400;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -10px;

      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $button-green;

      opacity: 0;
      transform: translateX(-50%) scale(0);
      transition:
        opacity 150ms ease,
        transform 150ms ease;
    }

    &:hover::after,
    &:focus-visible::after {
      opacity: 1;
      transform: translateX(-50%) scale(1);
      
    }
    
    &:hover {
      color: $button-green;
    }
  }
  
}


.language-switch {
  position: relative;
  display: inline-flex;
  width: 84px;
  height: 28px;
  border: 1px solid $button-green;
  border-radius: 100px;
  cursor: pointer;
  overflow: hidden;
  user-select: none;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }

  // Hintergrund nach rechts zu DE bewegen
  input:checked ~ .switch-background {
    transform: translateX(100%);
  }

  // Aktive Sprache weiß
  input:not(:checked) ~ .en,
  input:checked ~ .de {
    color: white;
  }

  // Inaktive Sprache türkis
  input:not(:checked) ~ .de,
  input:checked ~ .en {
    color: $button-green;
  }

  // Sichtbarer Fokus bei Tastaturbedienung
  &:has(input:focus-visible) {
    outline: 2px solid white;
    outline-offset: 3px;
  }
}

.language-option {
  width: 50%;
  display: grid;
  place-items: center;
  z-index: 2;
  font-size: 1rem;
  transition: color 200ms ease;
  font-family: "Fira Code", monospace;
  font-weight: 700;
}

.switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
  background-color: $button-green;
  border-radius: 100px;
  transform: translateX(0);
  transition: transform 200ms ease;
}

.nav-img {
  position: relative;
  width: 130px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;

  img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 260px;
    max-width: none;
    height: 260px;
    max-height: none;

    transform: translate(-50%, -50%);
    object-fit: contain;
  }
}
