<section class="skillset-section">
  <div class="skillset-container">
    <div class="skillset-header-div">
      <p class="skillset-header-text">Technologies</p>
      <div class="skillset-text-area">
        <h2>Skill Set</h2>
        <div class="skillset-div-text">
          <p>
            A short introduction of your skills. Highlight your experience of using different
            front-end technologies and emphasise your openness to learning and adapting to new
            technologies. Show how important it is for you to keep up with the rapid changes in web
            development.
          </p>
          <h3>You need <span>another skill?</span></h3>
          <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
        </div>
        <a href="#" class="talk-button"><span>Let's Talk</span></a>
      </div>
    </div>
    <div class="skill-icons">
      @for (icon of icons; track icon.name) {
        <div
          class="skill-icon"
          [class.learning-interest]="icon.isLearningInterest"
          [attr.tabindex]="icon.isLearningInterest ? 0 : null"
          [attr.aria-describedby]="icon.isLearningInterest ? 'learning-interest-tooltip' : null"
        >
          @if (icon.isLearningInterest) {
            <div class="learning-tooltip" id="learning-interest-tooltip" role="tooltip">
              <p>I have a special interest in learning</p>
              <div class="learning-icons">
                @for (learningIcon of learningInterests; track learningIcon.name) {
                  <div>
                    <img [src]="learningIcon.img" [alt]="learningIcon.name" />
                    <span>{{ learningIcon.name }}</span>
                  </div>
                }
              </div>
            </div>
          }
          <img [src]="icon.img" [alt]="icon.name" />
          <p>{{ icon.name }}</p>
        </div>
      }
    </div>
  </div>
</section>
