@use "../../../../styles/variables" as *;

img {
  width: 64px;
  height: 64px;
}

.skillset-section {
    display: flex;
    min-height: 100vh;
    padding: 100px;
    background-image: radial-gradient(circle 200px at 10% 50%, $button-green -200%, $b-color);
}

.skillset-header-div {
  display: flex;
  flex-direction: column;
}

.skillset-header-text {
  color: $button-green;
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  font-style: bold;
  font-weight: 700;
}

.skillset-text-area {
  background-color: $green-transparent;
  width: 520px;
  height: 550px;
  border: solid 1px $button-green;
  border-radius: 10px;
}

.skill-icons {
  padding-left: 96px;
  padding-right: 96px;
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 50px 60px;
  color: white;
  text-align: center;
}