<footer class="footer-section">
  <div class="left-footer">
    <div>
      <a class="footer-logo" href="#" aria-label="Zurück nach oben">
        <img class="logo-default" src="icons/Logo-weiß.png" alt="Tobias Illner" />
        <img class="logo-hover" src="icons/Logo-outline.png" alt="" />
      </a>
    </div>
    <div class="left-footer-text">
      <p>{{ 'app.footer.title' | translate }}</p>
      <p>{{ 'app.footer.ort' | translate }}</p>
    </div>
  </div>
  <div class="middle-footer">
    <p>© Tobias Illner</p>
  </div>
  <div class="right-footer">
    <a href="">Github</a>
    <a href="">LinkedIn</a>
    <a href="">Email</a>
    <a href="">{{ 'app.footer.legal' | translate }}</a>
  </div>
</footer>
