<footer class="footer-section">
  <div class="left-footer">
    <div>
      <a class="footer-logo" routerLink="/" fragment="home" aria-label="Zurück nach oben">
        <img class="logo-default" src="icons/Logo-weiß.png" alt="Tobias Illner" />
        <img class="logo-hover" src="icons/Logo-outline.png" alt="" />
      </a>
    </div>
    <div class="left-footer-text">
      <p>{{ 'app.footer.title' | translate }}</p>
      <p>{{ 'app.footer.ort' | translate }}</p>
    </div>
  </div>
  <div class="middle-footer">
    <p>© Tobias Illner</p>
  </div>
  <div class="right-footer">
    <a href="https://github.com/TobiasIllnerDev" target="_blank" rel="noopener noreferrer">Github</a>
    <a href="https://www.linkedin.com/in/tobias-illner/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <a href="mailto:tobias.illner@hotmail.de">Email</a>
    <a routerLink="/impressum">{{ 'app.footer.legal' | translate }}</a>
  </div>
</footer>
